<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/data-provider/dp-card.html">


<dom-module id="visor-card">
  <template>
  <style>
  :host {
    display: block;
  }
  </style>

    <div class="form-group row">
      <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
      total columnas 12 (que indica el ancho máximo)-->
      <!-- media query -->
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-3">
            <h2>Bienvenido:</h2>
          </div>
          <div class="col-md-9">
            <span>[[number]]</span>
            <span>[[cardtype]]</span>
            <span>[[amount]]</span>
            <span>[[usuario]]</span>
          </div>
        </div>

      </div>
      <div align="right" class="col-md-7">
        <button class="btn btn-danger btn-lg btn-signin" on-click="logout">Logout</button>
      </div>
    </div>
    <dp-card id="cards" on-mostrarcard="muestraTarjeta"></dp-card>

  </template>

  <script>

    /**
     * @customElement
     * @polymer
     */
    class VisorCard extends Polymer.Element {
      static get is() { return 'visor-card'; }
      static get properties() {
        return {
          usuario: {
            type: String
          },
          number: {
            type: String
          },
          cardtype: {
            type: String
          },
          amount: {
            type: String
          },
          page:{
            type: String
          }
        };
      }
      hideuser(){
        this.usu=true;
      }
      muestraTarjeta(e){

          this.cards=e.detail.card;
          this.number=this.cards[0].number;
          console.log("Mostrando datos de la tarjeta",this.cards);

          this.amount=this.cards[0].availableBalance.currentBalances[0].amount;
          this.cardtype=this.cards[0].cardType.name;

      }
      showData(data){
        console.log("Recibidos datos del usuario:" + JSON.stringify(data.detail.response)) ;
        this.id=data.detail.response.id;

        this.first_name=data.detail.response.first_name;
        this.last_name=data.detail.response.last_name;
        this.email=data.detail.response.email;
        this.$.cuentas.consCuentas(this.id);
      }
      logout() {
        console.log("El usuario ha pulsado el boton salir.");
        var loginData = {
          "id" : this.id
        };

        this.$.doLogout.body = JSON.stringify(loginData);
        // hacemos petición con los datos del formulario del iron-ajax
        this.$.doLogout.generateRequest();
        console.log("Petición enviada");
      }
      logoutAJAXResponse(data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);
        this.isLogged = false;
        // redirigir
        //window.location = "/visor-usuario/" + data.detail.response.idUsuario;
        window.location = "/" ;

      }

    }

    window.customElements.define(VisorCard.is, VisorCard);
  </script>
</dom-module>
