<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/login/login-logout.html">
<link rel="import" href="../../src/usuario/usuario.html">
<link rel="import" href="../../src/data-provider/dp-card.html">

<dom-module id="prework-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div hidden={{visible}}>
      <login-usuario id="login" on-sesionok="cambiaestado"></login-usuario>
    </div>
    <div hidden={{!visible}}>
        <visor-card id="usuario" usuario={{usuario}} number=[[number]]></visor-card>
    </div>
    <dp-card id="dpcard" tsec=[[tsec]] password=[[password]] on-mostrarcard="muestraTarjeta"></dp-card>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PreworkApp extends Polymer.Element {
      static get is() { return 'prework-app'; }
      static get properties() {
        return {
          visible: {
            type: Boolean,
            value: false
          },
          usuario: {
            type: String,
            value: ""
          },
          tsec: {
            type: String,
            value: ""
          },
          number: {
            type: String,
            value: ""
          }
        };
      }
      cambiaestado(e){
        this.usuario=e.detail.usuario;
        this.tsec=e.detail.tsec;
        this.$.dpcard.consultaCard();
        this.visible=e.detail.logged;
      }
      muestraTarjeta(e){
          this.cards=e.detail.cards;
          console.log("Mostrando datos de la tarjeta",e);
          this.number=this.cards[0].number;
          console.log("Mostrando datos de la tarjeta",this.number);

          this.amount=this.cards[0].availableBalance.currentBalances[0].amount;
          this.cardtype=this.cards[0].cardType.name;
          this.number=this.cards[0].number;

      }
    }

    window.customElements.define(PreworkApp.is, PreworkApp);
  </script>
</dom-module>
