<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/data-provider/dp-login.html">

<dom-module id="login-usuario">
  <!-- Plantilla del componente -->
  <template>
  <style>
  :host {
    display: block;
  }
  </style>
  <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/src/login/estilo.css">

  <div id="Contenedor">
    <div class="Icon">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="ContentForm">
      <!--form name="FormEntrar"-->
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" name="correo" placeholder="Usuario" id="Correo" value="{{usuario::input}}" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" name="contra" class="form-control" value="{{password::input}}" placeholder="******" aria-describedby="sizing-addon1" required>
        </div>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-signin" id="IngresoLog" on-click="login">Login</button>
        <div class="opcioncontra"><a href="">Olvidaste tu contraseña?</a></div>

      <!--/form-->

    </div>
  </div>
  <dp-login id="dplogin" user=[[usuario]] password=[[password]] ></dp-login>
</template>

<script>
/**
* @customElement
* @polymer
*/
class LoginUsuario extends Polymer.Element {
  static get is() { return 'login-usuario'; }
  static get properties() {
    return {
      usuario: {
        type: String
      },
       password: {
        type: String
      },
      isLogged: {
        type: Boolean,
        value: false
      }
    };
  }

  login() {
    this.$.dplogin.validalogin();

  }


cambiaestado(e){
  this.isLogged=e.detail.logged;
  console.log("estoy logueado");
}


}
window.customElements.define(LoginUsuario.is, LoginUsuario);
</script>
</dom-module>
