<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="dp-card">
  <template>

    <iron-ajax
      id="card"
      url="https://artichoke.platform.bbva.com/cards/v0/cards"
      content-type="application/json"
      method="GET"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DpCard extends Polymer.Element {
      static get is() { return 'dp-card'; }
      static get properties() {
        return {
          cards: {
            type: Array,
            value: function(){
              return[];
            }
          },
          tsec: {
            type: String,
            value: ""
          }

        };
      }
      manageAJAXResponse(data,req) {
        console.log("respuesta del servicio CARDS");
        this.cards= req.xhr.response.data;
        this.dispatchEvent(new CustomEvent("mostrarcard",{detail:{cards:this.cards,usuario:this.user}}));
        console.log("headers", this.cards);
      }

      showError(error) {
        console.log("Hubo un error");
        alert("Datos Ingresados Incorrectos Valide");
        console.log(error);
      }

      consultaCard() {

        // body es una propiedad del iron-ajax
        console.log("Se invoca el Servicio de CARD");
        this.$.card.headers['tsec'] = this.tsec;
        this.$.card.generateRequest();
    }
  }

    window.customElements.define(DpCard.is, DpCard);
  </script>
</dom-module>
