<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<dom-module id="dp-login">
  <template>

    <iron-ajax
      id="doLogin"
      url="https://artichoke.platform.bbva.com/TechArchitecture/co/grantingTicket/V02"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class DpLogin extends Polymer.Element {
      static get is() { return 'dp-login'; }
      static get properties() {
        return {
          pokemons: {
            type: Array,
            value: function(){
              return[];
            }
          },
          user: {
            type: String,
            value: ""
          },
          password: {
            type: String,
            value: ""
          },
          tsec: {
            type: String,
            value: ""
          },
          logged: {
            type: Boolean,
            value: false
          }

        };
      }
      manageAJAXResponse(e, req) {
        console.log("Recibida respuesta del servidor");
        this.tsec = req.xhr.getResponseHeader('tsec');
        this.logged= true ;
        console.log("headers", this.tsec);
        //this.tsec=header;
        this.dispatchEvent(new CustomEvent("sesionok",{detail:{logged:this.logged,tsec:this.tsec,usuario:this.user},bubbles: true, composed: true}));
      }

      showError(error) {
        console.log("Hubo un error");
        alert("Datos Ingresados Incorrectos Valide");
        console.log(error);
      }

      validalogin() {
        var loginData = {
          "authentication": {
            "userID": this.user,
            "consumerID": "10000033",
            "authenticationType": "02",
            "authenticationData": [{
              "idAuthenticationData": "password",
              "authenticationData": [this.password]
            }]
          },
          "backendUserRequest": {
            "userId": "",
            "accessCode": this.user,
            "dialogId": ""
          }

        };
        // body es una propiedad del iron-ajax
        console.log("Se invoca el Servicio de Login");
        this.$.doLogin.body=JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
    }
  }

    window.customElements.define(DpLogin.is, DpLogin);
  </script>
</dom-module>
